.home {
  height: 92vh;
  background: url(/assets/Images/bg.jpg) center no-repeat;
  background-size: cover;

  &__form {
    padding-top: 15rem;
    @include flexBox (auto, center, center, false);
    gap: 5rem;

    &__inp {

      &__field {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid $secondary-color;
        background: none;
        outline: none;   
        @include font (1.6rem, 500)     
      }
    }

    &__add {

      &__btn {
        border: 1px solid $secondary-color;
        border-radius: 50%;
        background-color: $secondary-color;
        color: $primary-color;
        cursor: pointer;
        text-indent: -999999px;
      
        &::before {
          padding: 17px 14px;
          @include icon ("\f002", 1.3rem, 500, $primary-color); }
        
        @include breakpoint(min-ipad) {
          &:hover {
            background-color: transparent;
            color: $secondary-color;
          }
        } 
      }
    }
  }
}